html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 80%;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../images/pic-1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/pic-1.jpg);
  background-size: cover;
  background-position: center;
}

.banner .navbar {
  width: 85%;
  margin: auto;
  padding: 15px 0;
  text-align: center;
}

.banner .navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 50px 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 20px;
}

.banner .navbar ul li a {
  color: white;
  text-transform: uppercase;
}

.banner .navbar ul li a:hover {
  color: #bbc4ee;
}

.banner .title {
  padding-top: 300px;
  color: white;
  font-size: 110px;
}

.banner .learnmoreBtn {
  border-style: solid;
  font-weight: 700;
  padding: 15px 65px;
  margin-top: 40px;
  background-color: transparent;
  color: white;
  border-color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-width: 3px;
  font-size: 15px;
}

.banner .learnmoreBtn:hover {
  background-color: white;
  color: black;
}

.section-1 .container-1 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  height: 1400px;
  position: relative;
}

.section-1 .container-1 .Vgames {
  font-size: 60px;
  color: #111111;
  font-family: Ubuntu, sans-serif;
  top: 235px;
  left: 300px;
  position: absolute;
  white-space: nowrap;
}

.section-1 .container-1 .Vgames .span1 {
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  font-size: 70px;
}

.section-1 .container-1 .Vgames .span2 {
  margin-left: 280px;
}

.section-1 .container-1 .Vgames .v-text {
  padding-left: 100px;
}

.section-1 .container-1 .circle-1 {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #3a4998;
  position: absolute;
  top: 165px;
  right: 1000px;
}

.section-1 .container-1 .pic-2 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border-width: 10px;
  border-color: black;
  margin-top: 400px;
}

.section-1 .container-1 .pic-3 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border-width: 18px;
  background-size: 10px;
  border-color: white;
  border-style: solid;
  position: absolute;
  top: 810px;
  right: 865px;
  background-color: white;
}

.section-1 .container-1 .textbox {
  max-width: 525px;
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;
  padding: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 31px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: 550px;
  left: 485px;
}

.section-1 .container-1 .textbox p {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.6;
}

.section-1 .container-1 .textbox > h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 25px;
}

.section-1 .container-1 .textbox .button-2 {
  width: 185px;
  height: 50px;
  border-style: solid;
  font-weight: 700;
  padding: 15px 30px;
  margin: 30px 0px;
  background-color: #3a4998;
  color: white;
  border-color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
}

.section-1 .container-1 .textbox .button-2:hover {
  background-color: #292f33;
  color: white;
}

.section-1 .container-1 .circle-2 {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  border-width: 30px;
  border-style: solid;
  border-color: #e5bb8d;
  position: absolute;
  top: 1155px;
  left: 300px;
}

.section-2 .container-2 {
  background-color: #292f33;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section-2 .container-2 .left {
  width: 60%;
  height: 85vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(../images/pic-4.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/pic-4.jpg);
  background-size: cover;
  background-position: center;
  display: block;
}

.section-2 .container-2 .right {
  width: 20%;
  display: block;
  position: absolute;
  top: 85px;
  right: 650px;
}

.section-2 .container-2 .videogames, .section-2 .container-2 .brain, .section-2 .container-2 .stress {
  width: 700px;
  height: 200px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  -webkit-box-shadow: -1px 2px 14px -2px #000000;
  box-shadow: -1px 2px 14px -2px #000000;
}

.section-2 .container-2 .videogames h2, .section-2 .container-2 .brain h2, .section-2 .container-2 .stress h2 {
  font-size: 35px;
  font-weight: 700;
  padding: 20px 50px 20px;
  font-family: Ubuntu, sans-serif;
}

.section-2 .container-2 .videogames p, .section-2 .container-2 .brain p, .section-2 .container-2 .stress p {
  padding: 10px 50px 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  font-family: Ubuntu, sans-serif;
}

.section-3 .container-3 {
  max-width: 1170px;
  width: 100%;
  height: 1100px;
  margin: 0 auto;
  position: relative;
}

.section-3 .container-3 .bluebox {
  width: 1150px;
  height: 425px;
  background-color: #3a4998;
  position: absolute;
  top: 300px;
  right: 50px;
  z-index: -1;
}

.section-3 .container-3 .textbox-2 {
  width: 470px;
  height: 415px;
  background-color: white;
  -webkit-box-shadow: -1px 2px 14px -2px #000000;
  box-shadow: -1px 2px 14px -2px #000000;
  padding: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 31px;
  padding-left: 50px;
  padding-right: 40px;
  position: absolute;
  top: 505px;
  right: 665px;
  z-index: 3;
}

.section-3 .container-3 img {
  margin-top: 50px;
  width: 900px;
  height: 600px;
  z-index: 2;
  margin-left: 100px;
}

.section-3 .container-3 h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: Ubuntu, sans-serif;
  margin-top: 25px;
}

.section-3 .container-3 p {
  font-size: 22px;
  line-height: 1.6;
  font-weight: 300;
  font-family: Ubuntu, sans-serif;
  font-style: italic;
}

.section-3 .container-3 .blueBtn {
  width: 170px;
  height: 50px;
  border-style: solid;
  font-weight: 700;
  padding: 15px 20px;
  margin: 20px 0px;
  background-color: #3a4998;
  color: white;
  border-color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
}

.section-3 .container-3 .blueBtn:hover {
  background-color: #292f33;
  color: white;
}

.section-4 .container-4 {
  width: 100%;
  height: 85vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(../images/pic-6.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/pic-6.jpeg);
  background-size: cover;
  background-position: center;
}

.section-4 .container-4 h2 {
  font-size: 60px;
  color: white;
  font-weight: 900;
  font-family: Ubuntu, sans-serif;
  margin-left: 350px;
  padding-top: 85px;
}

.section-4 .container-4 .viewallBtn {
  border-style: solid;
  font-weight: 700;
  padding: 15px 35px;
  margin-top: 75px;
  margin-left: 350px;
  background-color: transparent;
  color: white;
  border-color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-width: 1px;
  font-size: 15px;
}

.section-4 .container-4 .viewallBtn:hover {
  background-color: white;
  color: black;
}

.section-5 .container-5 {
  max-width: 1170px;
  width: 100%;
  height: 1050px;
  margin: 0 auto;
  position: relative;
}

.section-5 .container-5 .stack {
  text-align: center;
  margin-top: 100px;
}

.section-5 .container-5 h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: Ubuntu, sans-serif;
}

.section-5 .container-5 p {
  font-size: 20px;
  font-weight: 300;
  font-family: Ubuntu, sans-serif;
  margin-top: 40px;
  line-height: 1.6;
}

.section-5 .container-5 .readmoreBtn {
  width: 170px;
  height: 50px;
  border-style: solid;
  font-weight: 700;
  padding: 15px 30px;
  margin: 40px 0px;
  background-color: #3a4998;
  color: white;
  border-color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
  font-family: Ubuntu, sans-serif;
}

.section-5 .container-5 .readmoreBtn:hover {
  background-color: #292f33;
  color: white;
}

.section-5 .container-5 .img-6 {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  top: 285px;
  right: 880px;
}

.section-5 .container-5 .img-7 {
  width: 55vh;
  height: 55vh;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  top: 350px;
  left: 120px;
}

.section-5 .container-5 .img-8 {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  top: 275px;
  left: 775px;
}

.section-5 .container-5 .circle-3 {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: #3a4998;
  position: absolute;
  top: 530px;
  right: 400px;
}

.section-5 .container-5 .circle-4 {
  width: 175px;
  height: 175px;
  background-color: white;
  border-radius: 50%;
  border-width: 30px;
  border-style: solid;
  border-color: #e5bb8d;
  position: absolute;
  top: 750px;
  left: 810px;
}

.section-6 .container-6 {
  height: 1000px;
  width: 100%;
  background-color: #292f33;
  position: relative;
}

.section-6 .container-6 .textbox-3 {
  width: 510px;
  height: 450px;
  background-color: white;
  -webkit-box-shadow: -1px 2px 14px -2px #000000;
  box-shadow: -1px 2px 14px -2px #000000;
  padding: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 50px;
  padding-right: 40px;
  position: absolute;
  top: 140px;
  left: 240px;
  z-index: 3;
}

.section-6 .container-6 h2 {
  font-size: 35px;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  padding-top: 30px;
}

.section-6 .container-6 p {
  font-size: 22px;
  font-weight: 100;
  line-height: 2.0;
  font-family: Ubuntu, sans-serif;
}

.section-6 .container-6 .contactusBtn {
  width: 175px;
  height: 50px;
  border-style: solid;
  font-weight: 700;
  padding: 15px 25px;
  margin: 20px 0px;
  background-color: white;
  color: black;
  border-color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
  font-family: Ubuntu, sans-serif;
}

.section-6 .container-6 .contactusBtn:hover {
  background-color: #000000;
  color: white;
}

.section-6 .container-6 img {
  width: 850px;
  height: 550px;
  position: absolute;
  top: 325px;
  right: 345px;
  z-index: 2;
}

.section-6 .container-6 .orangeline {
  width: 355px;
  height: 1000px;
  background-color: #e5bb8d;
  position: absolute;
  top: 0px;
  right: 600px;
  z-index: 1;
}

.section-7 .container-7 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.section-7 .container-7 .left, .section-7 .container-7 .right {
  width: 50%;
}

.section-7 .container-7 h2 {
  margin-top: 50px;
  font-size: 30px;
  font-family: Ubuntu, sans-serif;
  color: #4d4d4d;
}

.section-7 .container-7 .input-field {
  width: 550px;
  height: 50px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: none;
  background-color: #f2f2f2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.section-7 .container-7 img {
  width: 550px;
  height: 650px;
  margin-left: 300px;
  margin-bottom: 30px;
}

.section-7 .container-7 .textarea {
  width: 550px;
  height: 155px;
  padding: 10px;
  border-style: none;
  background-color: #f2f2f2;
  resize: none;
  margin-bottom: 30px;
}

.section-7 .container-7 .submitBtn {
  padding: 15px 35px;
  border-radius: 30px;
  border-color: #1f1c1c;
  margin-bottom: 10px;
  background-color: white;
  font-family: Ubuntu, sans-serif;
  font-size: 15px;
}

.section-7 .container-7 .submitBtn:hover {
  background-color: black;
  color: white;
}

.section-7 .container-7 .fa-solid {
  margin-left: 95px;
  margin-top: 10px;
  font-size: 30px;
}

footer {
  background-color: #121212;
  height: auto;
  padding: 90px 140px;
}

footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerContainer li {
  -webkit-transition: 0.3 ease;
  transition: 0.3 ease;
}

footer .footerContainer .titleDiv {
  color: white;
  vertical-align: baseline;
}

footer .footerContainer .titleDiv > h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Ubuntu, sans-serif;
}

footer .footerContainer .titleDiv > p {
  color: #b1b1b1;
  margin-bottom: 40px;
}

footer .footerContainer .titleDiv > .fa-brands {
  cursor: pointer;
  font-size: 20px;
}

footer .footerContainer .titleDiv .fa-facebook-f {
  height: 16px;
  width: 16px;
}

footer .footerContainer .titleDiv .fa-twitter {
  height: 16px;
  width: 16px;
}

footer .footerContainer .titleDiv .fa-instagram {
  height: 16px;
  width: 16px;
}

footer .footerContainer .titleDiv .fa-google-plus-g {
  height: 16px;
  width: 16px;
}

footer .footerContainer .titleDiv > a {
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 15px 16px;
  margin-right: 10px;
}

footer .footerContainer .titleDiv a:hover {
  background-color: #121212;
  color: white;
}

footer .footerContainer .usefulLinks h2 {
  font-size: 30px;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

footer .footerContainer .usefulLinks .footerUL:not(:last-child) {
  margin-bottom: 10px;
}

footer .footerContainer .usefulLinks li {
  color: #b1b1b1;
  margin-bottom: 15px;
  cursor: pointer;
}

footer .footerContainer .usefulLinks li:hover {
  color: #4d2d81;
}

footer .footerContainer .privacyDiv h2 {
  font-size: 30px;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

footer .footerContainer .privacyDiv .footerUL:not(:last-child) {
  margin-bottom: 10px;
}

footer .footerContainer .privacyDiv li {
  color: #b1b1b1;
  margin-bottom: 15px;
  cursor: pointer;
}

footer .footerContainer .privacyDiv li:hover {
  color: #4d2d81;
}

footer .footerContainer .contactInfo .envelope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

footer .footerContainer .contactInfo .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

footer .footerContainer .contactInfo .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

footer .footerContainer .contactInfo h2 {
  font-size: 30px;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

footer .footerContainer .contactInfo p {
  color: #b1b1b1;
  margin-left: 20px;
}
